CrazyBid/CrazyBidPremiumClient/src/conf/wsdl/localhost_8080/premiumCustomer/premiumCustomer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://premiumCustomer.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://premiumCustomer.ws/">

<xs:element name="AuctionListingNotFoundException" type="tns:AuctionListingNotFoundException"/>

<xs:element name="CustomerNotFoundException" type="tns:CustomerNotFoundException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="customerLogin" type="tns:customerLogin"/>

<xs:element name="customerLoginResponse" type="tns:customerLoginResponse"/>

<xs:element name="newConfigureSniping" type="tns:newConfigureSniping"/>

<xs:element name="newConfigureSnipingResponse" type="tns:newConfigureSnipingResponse"/>

<xs:element name="retrieveAllAuctionListings" type="tns:retrieveAllAuctionListings"/>

<xs:element name="retrieveAllAuctionListingsResponse" type="tns:retrieveAllAuctionListingsResponse"/>

<xs:element name="retrieveAuctionListingById" type="tns:retrieveAuctionListingById"/>

<xs:element name="retrieveAuctionListingByIdResponse" type="tns:retrieveAuctionListingByIdResponse"/>

<xs:element name="retrieveCustomerByUsername" type="tns:retrieveCustomerByUsername"/>

<xs:element name="retrieveCustomerByUsernameResponse" type="tns:retrieveCustomerByUsernameResponse"/>

<xs:complexType name="retrieveCustomerByUsername">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCustomerByUsernameResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="addressList" type="tns:address" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="bidList" type="tns:bid" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="creditBalance" type="xs:decimal" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="premium" type="xs:boolean" minOccurs="0"/>
<xs:element name="productList" type="tns:auctionListing" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="topUpList" type="tns:topUpTransaction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="productList" type="tns:auctionListing" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="xs:boolean" minOccurs="0"/>
<xs:element name="streetAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="auctionListing">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0"/>
<xs:element name="bidList" type="tns:bid" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="expectedPrice" type="xs:decimal" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="owner" type="tns:customer" minOccurs="0"/>
<xs:element name="product" type="xs:string" minOccurs="0"/>
<xs:element name="productDescription" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="startingPrice" type="xs:decimal" minOccurs="0"/>
<xs:element name="status" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bid">
<xs:sequence>
<xs:element name="auctionListing" type="tns:auctionListing" minOccurs="0"/>
<xs:element name="bidAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="bidTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="topUpTransaction">
<xs:sequence>
<xs:element name="createdOn" type="xs:dateTime" minOccurs="0"/>
<xs:element name="creditPackage" type="tns:creditPackage" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditPackage">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="packageName" type="xs:string" minOccurs="0"/>
<xs:element name="soldAmount" type="xs:int"/>
<xs:element name="status" type="xs:boolean" minOccurs="0"/>
<xs:element name="transactionList" type="tns:topUpTransaction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CustomerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAuctionListingById">
<xs:sequence>
<xs:element name="aId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAuctionListingByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:auctionListing" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AuctionListingNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllAuctionListings">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllAuctionListingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:auctionListing" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newConfigureSniping">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
<xs:element name="arg2" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newConfigureSnipingResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>